<nav class="navbar">
  <div class="navbar-container">
    <a href="/" class="navbar-brand">RCPN</a>
    <ul class="navbar-links">
      <li><a href="/quienes-somos">Quiénes somos</a></li>
      <li><a href="/principios">Principios</a></li>
      <li><a href="/recursos">Recursos</a></li>
      <li><a href="/videos">Videos</a></li>
    </ul>
  </div>
</nav>
